.section-about {
  margin-top: -20vh;
  padding: 25rem 0;
  background: $color-dark;
}

.about-content {
  display: flex;
  justify-content: space-between;

  &-photo {
    flex-basis: 38%;

    img {
      width: 100%;
    }
  }

  &-bio {
    flex-basis: 58%;
  }
}