// FONT
$font-stack-primary: 'Poppins', sans-serif;
$font-stack-secondary: 'Roboto Slab', serif;

// COLORS
$primary: #f4511e; // black text
$primary-dark: #b91400; // white text
$primary-light: #ff844c; // black text

$secondary: #fbc02d; // black text
$secondary-light: #c49000; // black text
$secondary-dark: #fff263; // black text

$color-light: #4f5b62; // white text
$color-medium: #263238; // white text
$color-dark: #000a12; // white text

// LAYOUT
$container-width: 132rem;