body {
  font-family: $font-stack-primary;
  font-size: 1.6rem;
  color: #fff;
}

.navbar-logo {
  font-size: 2.4rem;
  color: $color-dark;
}

.navbar-menu {
  list-style-type: none;

  li {
    display: inline;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 4.0rem;
    color: $color-dark;
  }
}

.heading-primary {
  text-transform: uppercase;
  color: $color-dark;

  backface-visibility: hidden;

  &-main {
    display: block;
    font-size: 11.0rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1.2rem;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  &-sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient($primary, $secondary);
  background-clip: text;
  -webkit-background-clip: text;
}

.about-content {
  font-family: $font-stack-secondary;

  &-bio {
    h3 {
      font-size: 2.0rem;
      margin-top: -0.4rem;
    }

    p {
      line-height: 2.0;
    }
  }
}